sudo: required

language: bash

services:
  - docker

before_install:
  - bash setup.sh -r "$REPOSITORY" -b "$BRANCH" -t "$TAG"

script:
  - bash publish.sh -u "$REGISTRY_USER" -p "$REGISTRY_PASSWORD"
